.container{
    display: grid;
    height: 500px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black;
    grid-template-columns: repeat(4,1fr); 
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: "header header header header" 
    "main main . sidebar" 
    "footer footer footer footer";
    justify-content: center;
    align-items: center;
}
.item{
    height: 100px;
    width: 100px;
    background-color: bisque;
    border: 1px solid black;
    text-align: center;
    align-content: center;
}
/* .item1{
    grid-area: header;
}

.item2{
    grid-area: main;
}

.item3{
    grid-area: sidebar;


}

.item4{
    grid-area: footer;
} */