

.container {
    display:flex;
    height: 500px;
    width: 1200px;
    border: 2px solid black;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightgrey;
    gap: 20px 10px
    }

    .item {
        height: 50px;
        width: 300px;
        border: 2px solid red;
        background-color: brown;
        flex-grow: 1;
    }
    .item4 {
        order: -1;
        flex-grow: 2;
        align-self: flex-start;
    }