.container{
    display: grid;
    height: 500px;
    width: 1000px;
    background-color: #f5f7fa;
    border: 4px solid #2d3436;
    grid-template-columns: repeat(4,1fr); 
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
        "header header header header" 
        "main main . sidebar" 
        "footer footer footer footer";
    justify-items: stretch;
    align-items: stretch;
}

.item{
    background-color: #ffffff;
    border: 3px solid #0b2933;
    text-align: center;
    align-content: center;
    color: #2d3436;
    font-weight: 600;
}

.item1{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #a75151;
}

.item2{
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: rgb(156, 194, 228);
}

/* .item1{
    grid-area: header;
}

.item2{
    grid-area: main;
}

.item3{
    grid-area: sidebar;


}

.item4{
    grid-area: footer;
}  */