

.container {
    display:flex;
    height: 200px;
    width: 800px;
    border: 2px solid black;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightgrey;
    gap: 20px 10px
    }

    .item {
        height: 50px;
        width: 300px;
        border: 2px solid red;
        background-color: brown;
    }