body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 1rem;
}
.logo{
    color: red;
    font-size: 1.5rem;

}

.menu{
    display: none;
    flex-direction: column;
    position: absolute;
    background: rgb(37, 27, 27);

}
.menu a {
    color: #701a1a;
    padding: 1em;
    text-decoration: none;
    display: block;
}
.hamburger{
    font-size: 2rem;
    color:#0a2392;
    cursor: pointer;
}

@media(min-width: 760px){
    .menu{
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        width: auto;
    }}

.hamburger{
    display: none;

}
